{% extends "pgLang/baza.html" %}

{% block title %}
Inregistrare Cont Nou
{% endblock %}

{% block content %}
    <h1>Creare Cont Nou</h1>
    <p>Completeaza datele de mai jos pentru a te inregistra.</p>
    <hr>
    
    <form method="POST">
        {% csrf_token %}
        
        {% if form.non_field_errors %}
            <div class="form-error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                
                {% if field.help_text %}
                    <small style="color: #ccc; font-size: 0.8em;">{{ field.help_text|safe }}</small>
                {% endif %}
                
                {% if field.errors %}
                    <div class="form-error">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        
        <div class="form-buttons">
            <button type="submit" class="button-primary">Creeaza Cont</button>
        </div>
    </form>
{% endblock %}